 .dashboard {
     display: flex;
     width: 90%;
     /* justify-content: space-around; */
     align-items: center;
     margin: 0 auto;
     background-color:#74b9ff;
     height: 200px;
     box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);
 }

 .NewConfirmed,
 .NewDeaths,
 .NewRecovered,
 .TotalConfirmed,
 .TotalDeaths,
 .TotalRecovered{
    padding: 6px;
    font-style: italic;
    background: #2d3436;
    border-bottom: 5px solid orange;
    color: #fff;
    font-size:12px;
    margin: 0 auto;
    box-shadow: 4px 6px 21px 0px rgba(25, 50, 50, 0.65);

 }


 .dashboard h5 {
     font-size: 18px;
     padding: 0px;
     margin: 0px;
 }